.editProfileForm {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    display: none;
    right: 40%;
    background: var(--bg-1);
    padding: 30px;
    gap: 10px;
    z-index: 1;

}
        .editProfileForm input {
    background: transparent;
    padding: 10px;
    outline: none;
    color: var(--bg-5);
    border: 1px solid var(--bg-5);
    font-size: 17px; 
}
        .editProfileForm input::placeholder {
    color: var(--bg-5);        
}